
.section-title {
    color: white;
    font-size: 3rem; /* Aumentado */
    font-weight: 900;
    margin-bottom: 2rem;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }